<html>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>

<div class="container">
<div class="row">
    <div class="col-sm">
<img id="back" routerLink=".." src="../../../assets/images/back.png" alt="retour">
</div>
<div class="col-sm"></div>
<div class="col-sm"></div>
</div>
</div>
<div id="title">
    <h1>Encyclopédie</h1>
    <img id="book" src="../../../assets/images/book.png" alt="Encyclopédie"/>
</div>

<div class="titleSecond">
<h2>Les gentils</h2>
</div>

<div class="container">
    
    <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem">
            <img
              class="card-img-top"
              src="../../../assets/images/icon-capote-grand.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Préservatif</h5>
              <h6 class="card-text">Réservoir cylindrique souple et mince en latex, placé sur la verge ou dans le vagin avant les rapports sexuels pour une raison contraceptive et recommandé également pour la protection contre les infections sexuellement transmissibles.</h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem">
            <img
              class="card-img-top"
              src="../../../assets/images/icon-depistage-grand.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Dépistage</h5>
              <h6 class="card-text">Ensemble d'examens et de tests effectués au sein d'une population apparemment saine afin de dépister une affection latente à un stade précoce.</h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem">
            <img
              class="card-img-top"
              src="../../../assets/images/icon-PrEP-grand.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">PrEP</h5>
              <h6 class="card-text">Traitement anti rétro viral à prendre lorsque l'on est séronégatif mais exposé au VIH. La PrEP empêche le virus du VIH de se développer et de se fixer dès son entrée dans le corps. Ce qui empêche le virus de survivre et permet à la personne de rester séronégative.
            </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>

      <br/>
          
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/icon-TasP-grand.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">TasP</h5>
          <h6 class="card-text">TasP (Treatment as Prevention) ou traitement antirétroviral comme prévention, signifie qu’une personne séropositive pour le VIH qui a une charge virale indétectable depuis 6 mois sous traitement efficace et qui est observante de son traitement et du suivi médical ne transmet plus le virus.</h6>
          <p class="card-text">Le traitement antirétroviral bloque le virus et l’empêche de se multiplier. La charge virale baisse alors progressivement en 1 à 6 mois pour atteindre une valeur en dessous du seuil détecté en laboratoire, soit 50 copies par millilitre de sang. On dit alors que la charge virale est indétectable. Elle est trop basse pour pouvoir contaminer d’autres personnes en cas d’exposition.</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/icon-TPE-grand.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">TPE</h5>
          <h6 class="card-text">Ce traitement est appelé Traitement Post-Exposition (TPE) ou Prophylaxie Post-Exposition (PPE - PEP en anglais). Il peut être prescrit dans les cas d'AES soit lors d'un accident d'exposition sexuelle ou d'exposition sanguine.</h6>
          <p class="card-text">Il doit être commencé le plus tôt possible, de préférence moins de 4 heures et au plus tard dans les 48 heures, après un risque de transmission du VIH.
            Ce traitement dure 28 jours. Il est très efficace dès lors qu'il est pris correctement pendant tout sa durée.</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/icon-vaccin-grand.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Vaccin</h5>
          <h6 class="card-text">Un vaccin est une préparation biologique administrée à un organisme vivant afin d'y stimuler son système immunitaire et d'y développer une immunité adaptative protectrice et durableNote 1 contre l'agent infectieux d'une maladie particulière.</h6>
          <p class="card-text">À ce jour, trois vaccins existent pour prévenir les IST virales : le vaccin contre l'hépatite A (VHA) ; le vaccin contre l'hépatite B (VHB) ; le vaccin contre les HPV ( papillomavirus humains), responsables du cancer du col de l' utérus.</p>
        </div>
      </div>
    </div>
  </div>

  <br/>
         
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/icon-TA-grand.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Traitement antiretroviral</h5>
          <h6 class="card-text">Le traitement antirétroviral combiné empêche le VIH de se multiplier et peut faire disparaître le virus dans le sang. Il permet ainsi au système immunitaire du patient de récupérer, de vaincre les infections et d'éviter le développement du sida et d'autres effets à long terme de l'infection à VIH.
        </h6>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/icon-couille-grand.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Couille</h5>
          <h6 class="card-text">Avouez elles sont jolies... A utiliser avec précaution</h6>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-sm"></div>
  </div>

  <div class="titleSecond">
    <h2>Les méchants</h2>
    </div>

<br/>
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/icon-vph-grand.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">VPH</h5>
          <h6 class="card-text">VPH est l’abréviation de virus du papillome humain. La famille des VPH comprend près de 200 virus. Une quarantaine de ces VPH vont infecter la région des organes génitaux et de l’anus. Quelques-uns peuvent même infecter la région de la bouche et de la gorge.
            L’infection par les VPH est l’infection transmise sexuellement (ITS, anciennement MTS) la plus fréquente au monde.
            </h6>
          <p class="card-text"><strong>Transmission :</strong>
            Les VPH se transmettent par contact direct, le plus souvent par une personne qui ne sait pas être porteuse, donc contagieuse.
            La pénétration du vagin ou de l’anus est le mode le plus efficace de transmission. Le contact entre les organes génitaux et/ou l’anus de partenaires sexuels est suffisant pour transmettre le VPH.
            </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/icon-herpes-grand.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Herpès Génital</h5>
          <h6 class="card-text">L'herpès génital est une maladie virale très contagieuse et récidivante. Après l’infection, le virus s’installe dans l’organisme et s’y « endort ». Il se manifeste ensuite, lors de poussées, par de petites cloques évoluant en plaies, localisées sur les organes sexuels ou à proximité.</h6>
          <p class="card-text"><strong>Transmission :</strong>
            Le virus de l’herpès génital est transmis par les contacts sexuels. Il peut se transmettre par simple contact de la peau (organes génitaux) ou par contact avec des sécrétions génitales contaminées. Ceci veut dire qu’il y a un risque associé à la pénétration sexuelle (vaginale, anale ou buccale), mais aussi à un contact direct sans pénétration.</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/icon-morpions-grand.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Morpions</h5>
          <h6 class="card-text">Le morpion est un parasite qui se tient habituellement dans les poils du pubis mais aussi dans les poils courts (anus, aisselles, barbe, sourcils et cils).</h6>
          <p class="card-text"><strong>Transmission :</strong>
            Elle se transmet principalement lors de rapports sexuels avec une personne infectée, mais la transmission peut aussi se faire par simple contact direct avec la personne infectée ou par contact indirect avec des objets contaminés (tels que les vêtements, la literie,  etc.) Le parasite peut survivre hors de l’hôte seulement pendant 24 heures.
            </p>
        </div>
      </div>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/icon-gale-grand.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Gale</h5>
          <h6 class="card-text">La gale est une des maladies de peau. Elle est causée par un parasite invisible à l’œil nu appelé sarcoptes scabei. Celui-ci vit et se nourrit de la couche superficielle de la peau en creusant des sillons le long desquels la femelle pond ses œufs.</h6>
          <p class="card-text"><strong>Transmission :</strong>
            Elle se transmet principalement lors de rapports sexuels avec une personne infectée, mais la transmission peut aussi se faire par simple contact direct avec la personne infectée ou par contact indirect avec des objets contaminés (tels que les vêtements, la literie,  etc.) Le parasite peut survivre hors de l’hôte seulement pendant 24 heures.
            </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/icon-chlamydia-grand.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Chlamydia</h5>
          <h6 class="card-text">L'infection à Chlamydia (ou chlamydiose) est due à une bactérie appelée Chlamydia trachomatis. C'est l'une des infections sexuellement transmissibles (IST) les plus fréquentes. Les infections à Chlamydiae peuvent provoquer des infections génitales hautes chez la femme, une stérilité, une grossesse extra-utérine et l'atteinte du nouveau-né si la mère est infectée.</h6>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/icon-vaginalis-grand.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Trichomonas vaginalis</h5>
          <h6 class="card-text">La vaginalis est une inflammation (enflure et irritation) du vagin, caractérisée par des pertes et/ou du prurit (démangeaisons).</h6>
          <p class="card-text"><strong>Transmission :</strong>
La TrichomonaseVaginalis se transmet sexuellement</p>
        </div>
      </div>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/icon-syphilis-grand.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Syphilis</h5>
          <h6 class="card-text">La syphilis est une infection causée par un microbe (bactérie) appelé le tréphnème pâle. Cette infection a presque disparu pendant plusieurs années, mais on constate aujourd'hui une augmentation des cas, principalement chez les hommes gais et bisexuels.</h6>
          <p class="card-text"><strong>Transmission :</strong>
            L’infection se transmet par des rapports sexuels avec une personne infectée et en phase contagieuse, par contact génital, oral ou anal, et ce même s’il n’y a pas de pénétration.
            </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/icon-hepatite-b-grand.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Hépatite B</h5>
          <h6 class="card-text">L'hépatite B est une maladie du foie causée par un virus qui se transmet essentiellement par relations sexuelles ou par contact avec du sang infecté. Cette infection est bénigne dans la plupart des cas. Mais chez environ 10 % des personnes infectées, l'hépatite B devient une infection chronique qui peut provoquer des troubles graves, comme la cirrhose ou le cancer du foie.</h6>
          <p class="card-text"><strong>Transmission :</strong>
            L'hépatite B peut se contracter de plusiers façons, notamment par rapport sexuel avec une personne infectée.
La maladie se transmet plus facilement par rapport anal. L'hépatite B se transmet également par le partage d'articles personnels (brosse à dents, rasoir, etc.) avec une personne infectée. Enfin, on peut contracter l'hépatite B par contact avec du sang infecté se trouvant dans les seringues qu'on réutilise pour s'injecter de la drogue.</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/icon-vih-grand.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">VIH</h5>
          <h6 class="card-text">Le VIH peut se transmettre pendant les rapports sexuels par l’entremise d’un liquide organique sexuel (comme le sperme/pré-éjaculat, les sécrétions vaginales ou rectales) ou par le sang, le cas échéant. Pour qu’il y ait transmission, l’un de ces liquides, s’il contient suffisamment de VIH, doit entrer en contact avec la muqueuse (paroi humide tapissant les cavités de l’organisme) d’une personne séronégative pour le VIH, par exemple, avec l’orifice du pénis, le prépuce, le vagin, le col de l’utérus ou le rectum. Lorsque cela se produit, le virus doit contourner les défenses naturelles de l’organisme avant de pouvoir provoquer une infection permanente.</h6>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>

  <br/>

</div>
<br/><br/>
</html>