html {
    background-image: url("../../../assets/images/background2.png");
}

#back {
    padding-top: 20px;
    width : 15%;
}

#title, .titleSecond {
    color: white;
    text-align: center;
    padding: 50px;
}

.text {
    color:white;
    text-decoration: italic;
    text-align: center;
    padding: 80px;
}

#book {
    width: 10%;
}

