.carre {
    width: 95%;
    height: 95%;
    background: url("../../../../assets/images/icon-nenuphar.png") center;
    margin: 5px;
    color: black;
    border-color: black;

    &:hover {
        background-color: #aaaaaa;
    }

    &:active {
        background-color: #555555;
    }
}
