<html>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>

<div class="container">
<div class="row">
    <div class="col-sm">
<img class="cursorhand" id="back" routerLink=".." src="../../../assets/images/back.png" alt="retour">
</div>
<div class="col-sm"></div>
<div class="col-sm"></div>
</div>
</div>
<div id="title">
    <h1>L'équipe ça marche même plus en local</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/member/baptiste.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Baptiste Touchais</h5>
          <h6 class="card-text">Responsable Design Front-End</h6>
          <p class="card-text">« Laurent ? NOONNNNEE !!!!! »</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/member/borloo.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Maxime Etcheverria</h5>
          <h6 class="card-text">Développeur BDD/Front-End</h6>
          <p class="card-text">« Avatar maître de l'air »</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/member/nicolas.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Nicolas Combal</h5>
          <h6 class="card-text">Responsable Front-End</h6>
          <p class="card-text">« Cherche meuf 0684217968 »</p>
        </div>
      </div>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/member/raphael.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Raphael Soriano</h5>
          <h6 class="card-text">Responsable Base de données</h6>
          <p class="card-text">« Plus chauve que Etchebest »</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/member/jose.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">José</h5>
          <h6 class="card-text">Développeur Back-End</h6>
          <p class="card-text">« Piquant comme le piment »</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/member/mehdi.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Mehdi Boudjema</h5>
          <h6 class="card-text">Animateur Live</h6>
          <p class="card-text">« RATIO »</p>
        </div>
      </div>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/member/lilian.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Lilian</h5>
          <h6 class="card-text">Développeur Pro</h6>
          <p class="card-text">« Nelson Monfort Tape »</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/member/marco.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Marco Valle</h5>
          <h6 class="card-text">Développeur Junior</h6>
          <p class="card-text">« Amogus 👍 »</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/member/clement.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Clément Pagès</h5>
          <h6 class="card-text">Développeur Back-End</h6>
          <p class="card-text">« SO6 »</p>
        </div>
      </div>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/member/killian.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Killian Falguière</h5>
          <h6 class="card-text">Java Master</h6>
          <p class="card-text">« Je suis sérieux en cours. »</p>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../../assets/images/member/enzo.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Enzo Furriel</h5>
          <h6 class="card-text">Chef de projet</h6>
          <p class="card-text">
            « ··· ·· − ··− ·−·· ·· ··· −·−·· ·− −−··−− − ·−−−−· · ··· −− −−−
            −·−· ···· · »
          </p>
        </div>
      </div>
    <div class="col-sm-1"></div>
    </div>
  </div>
</div>
<br/>
<div class="text">
    <h5>Nous sommes l'équipe "ça marche même plus en local", Donc si tu vois ça c'est que les astres se sont alignés et qu'au moins une partie de notre site fonctionne.
        Une équipe assez folle qui cherche à garder une bonne mémoire de la nuit, tout en étant assez assidue (Et oui on s'autocomplimente aussi parfois). 12 membres qui cherchent à mettre l'ambiance dans un évènement qui leur tient à coeur.</h5>
        
<br/>
<img id="logoNuit" src="https://www.nuitdelinfo.com/img/logo_n2i_blanc.svg" alt="Logo nuit info"/>
</div>
<br/><br/>
</html>