<div class="cover" fxLayout="column">
    <div class="wide title" fxFlex="20">
        <h1>IST ATTACKER</h1>
    </div>
    <div class="options" fxLayout="column" fxLayoutAlign="space-evenly none" fxLayoutGap="15" fxFlex="60">
        <button class="option" routerLink="/jeu">JOUER</button>
        <button class="option" routerLink="/donateurs">DONATEURS</button>
        <button class="option" routerLink="/plateauJeu">ENCYCLOPÉDIE</button>
        <button class="option" routerLink="/plateauJeu">INFOS UTILES</button>
        <button class="option" routerLink="/about-us">A PROPOS DE NOUS</button>
    </div>
    <div class="wide footer" fxFlex="20" fxLayout="row" fxLayoutAlign="space-between none">
        <button class="credits-mentions-legales">CRÉDITS</button>
        <button class="credits-mentions-legales">MENTIONS LÉGALES</button>
    </div>
</div>