#container {
  background: url("../../../../assets/images/texture-bois-background.jpg");
  position: absolute; bottom: 0px;
  width: 100%;
  height: 10%;
}
#img-son {
  position: absolute; right: 2%; top: 15%;
}
#img-restart{
  position: absolute; left: 2%; top: 15%;
}

