<div id="container" class="row">
  <div id="entity" class="col-sm-4">
    <div class="row">
      <div class="col-sm-3 entity">
        <img name="icons" src="../../../../assets/images/icon-couille.png" alt="">
      </div>
      <div class="col-sm-3 entity">
        <img name="icons" src="../../../../assets/images/icon-TA.png" alt="">
      </div>
      <div class="col-sm-3 entity">
        <img name="icons" src="../../../../assets/images/icon-capote.png" alt="">
      </div>
      <div class="col-sm-3 entity">
        <img name="icons" src="../../../../assets/images/icon-depistage.png" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 entity">
        <img name="icons" src="../../../../assets/images/icon-TPE.png" alt="">
      </div>
      <div class="col-sm-3 entity">
        <img name="icons" src="../../../../assets/images/icon-PrEP.png" alt="">
      </div>
      <div class="col-sm-3 entity">
        <img name="icons" src="../../../../assets/images/icon-TasP.png" alt="">
      </div>
      <div class="col-sm-3 entity">
        <img name="icons" src="../../../../assets/images/icon-vaccin.png" alt="">
      </div>
    </div>
  </div>
  <div id="power-ups" class="col-sm-4">
    <div class="row">
      <div class="col-sm-3 entity">
        <img name="icons" src="../../../../assets/images/icon-couille.png" alt="">
      </div>
      <div class="col-sm-3 entity">
        <img name="icons" src="../../../../assets/images/icon-TA.png" alt="">
      </div>
      <div class="col-sm-3 entity">
        <img name="icons" src="../../../../assets/images/icon-capote.png" alt="">
      </div>
      <div class="col-sm-3 entity">
        <img name="icons" src="../../../../assets/images/icon-depistage.png" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 entity">
        <img name="icons" src="../../../../assets/images/icon-TPE.png" alt="">
      </div>
      <div class="col-sm-3 entity">
        <img name="icons" src="../../../../assets/images/icon-PrEP.png" alt="">
      </div>
      <div class="col-sm-3 entity">
        <img name="icons" src="../../../../assets/images/icon-TasP.png" alt="">
      </div>
      <div class="col-sm-3 entity">
        <img name="icons" src="../../../../assets/images/icon-vaccin.png" alt="">
      </div>
    </div>
  </div>
  <div id="score" class="col-sm-3">
    <p id="textScore">Score : 0</p>
  </div>
</div>
