<div id="container" class="row">
  <div id="entity" class="col-sm-4">
    <div class="row">
      <div class="col-sm-3">
        <p>Couilles</p>
      </div>
      <div class="col-sm-3">
        <p>TraitementAntiretroviral</p>
      </div>
      <div class="col-sm-3">
        <p>Preservatifs</p>
      </div>
      <div class="col-sm-3">
        <p>Depistage</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <p>TraitementPostExposition</p>
      </div>
      <div class="col-sm-3">
        <p>PrEP</p>
      </div>
      <div class="col-sm-3">
        <p>TasP</p>
      </div>
      <div class="col-sm-3">
        <p>Vaccin</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-3">
        <p>Couilles</p>
      </div>
      <div class="col-sm-3">
        <p>TraitementAntiretroviral</p>
      </div>
      <div class="col-sm-3">
        <p>Preservatifs</p>
      </div>
      <div class="col-sm-3">
        <p>Depistage</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <p>TraitementPostExposition</p>
      </div>
      <div class="col-sm-3">
        <p>PrEP</p>
      </div>
      <div class="col-sm-3">
        <p>TasP</p>
      </div>
      <div class="col-sm-3">
        <p>Vaccin</p>
      </div>
    </div>
  </div>
  <div id="score" class="col-sm-4">
    <p>Score : 0</p>
  </div>
</div>
