.wide {
    width: 100%;
    height: 100%;
}

.row {
    height: 20%;
}

.carre {
    height: 95%;
    background-color: #000000;
    margin: 5px;
    color: white;

    &:hover {
        background-color: #555555;
    }

    &:active {
        background-color: #aaaaaa;
    }
}