<p>Pour en savoir plus sur le SIS qui a proposé le sujet de cette édition de la nuit de l'info, voici différents liens qui pourront vous aider :</p>
<li><a href="https://www.sida-info-service.org">https://www.sida-info-service.org</a></li>
<li><a href="https://www.hepatites-info-service.org">https://www.hepatites-info-service.org</a></li>
<li><a href="https://www.sexualites-info-sante.fr">ttps://www.sexualites-info-sante.fr</a></li>
<li><a href="https://www.vih-info-soignants.fr">https://www.vih-info-soignants.fr</a></li>
<li><a href="https://www.ligneazur.org">https://www.ligneazur.org</a></li>
<li><a href="https://www.instagram.com/sida_info_service">https://www.instagram.com/sida_info_service</a></li>
<li><a href="https://www.instagram.com/sexualites_info_sante">https://www.instagram.com/sexualites_info_sante</a></li>
<li><a href="https://www.facebook.com/SidaInfoService">https://www.facebook.com/SidaInfoService</a></li>